*:root{
    --font: 'Poppins', sans-serif;
    --acento-l1: #f69b1280;
    --gris-1: #6e5c75;
    --gris-2: #cac1cd;
    --gris-3: #e4e4e5;
    --gris-4: #f6f5f7;
    --primario: #8b27b5;
    --primario-l1: #dbbce8;
    --primario-l2: #eedff4;
    --primario-l3: #f3e9f8;
    --primario-s1: #6f1f91;
    --primario-s2: #681d88;
    --primario-s3: #53176d;
    --secundario: #a7ef2b;
    --secundario-l1: #e4fabd;
    --secundario-l2: #f2fddf;
    --secundario-l3: #f6fdea;
    --secundario-s1: #96d727;
    --secundario-s2: #7db320;
    --secundario-s3: #4b6c13;
    --acento: #F69B12;
    --blanco: #FAF3FE;
    --error-color: #d33636;
    --exito-color: #66b527;
    --negro: #2B043B;  
    --warning-color: #E8E020;
}

.rules p span{
    color: var(--secundario, #a7ef2b);
}

.rules p{
    line-height: 140%;
}

.game img, .how-to-play img, .related-games img, .comments-section img {
    max-width: 100%; 
    background-size: cover;
    height: 100%;

}

.col-1 {
    width: 50%; 
    /* padding-right: 20px; */
    padding-top: 10px;
}

.col-2 {
    width: 25%; 
    padding: 10px;
    padding-right: 0;
    /* padding-left: 10px; */
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
 }

.col-3 {
    width: 25%;
    background: var(--Primario-S2, #681D88);
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}

.comments-section .col-3 , .comment-box{
    background: var(--blanco);
}

.col-1-2 {
    /* border: solid red; */
    width: 75%; 
    /* padding-right: 20px; */
    padding: 10px;
}

.breadcrumb {
    background: var(--Primario-S2, #681D88);
    margin-top: 100px;
    height: 60px;
    padding-top: 23px;
    padding-left: 70px;
    width: 100%;
    color: var(--blanco);
}

.breadcrumb a{
    color: var(--secundario);
    text-decoration: underline;
}
    
.game {
    width: 100%; /*ancho y alt de todo el grid*/
    height: 700px;
    padding-left: 70px; 
    background: var(--Primario-S2, #681D88);
    display:flex;
    flex-direction: row;
}

.game .col-1-2 {
    background-color: white;
    margin-top: 10px;
}

.chat {
    width: 100%;
    height: 440px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

.video {
    max-width: 100%;
    /* position: relative;
    width: 100%;
    height: 30%; */
    /* padding-bottom: 56.25%;  */
    /* Proporción 16:9 para videos de YouTube (315 / 560) */
  }
  
  /* .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */


/*****PUBLICIDADES******/
.publi-small {
    /* height: 250px; */
    /* padding-bottom: 10px; */
    /* aspect-ratio: 1/1; */
}

.publi-medium {
    /* height: 340px; */
    padding-bottom: 10px;
}

.publi-large {
    /* height: 520px; */
    padding-bottom: 10px;
}
/************************/

.how-to-play{
    /* padding-top: 10px;
    padding-bottom: 10px; */
    width: 100%; 
    /* height: 550px; */
    padding-left: 70px; 
    background: var(--Primario-S2, #681D88);
    color: white;
    display: flex;
    flex-direction: row; 
}

.rating{
    display: flex;
    width: 100%; 
    height: 100px;
    /* border: solid red; */
}

.related-games {
    padding-left: 70px;
    background: var(--blanco, #FAF3FE);
    height: 250px;
}

.juegos-relacionados {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid;
    width: 100%;
    height: 190px;
}

.comments-section{
    padding-top: 10px;
    width: 100%; 
    height: 1840px;
    padding-left: 70px; 
    background: var(--blanco, #FAF3FE);
    display: flex;
    flex-direction: row; 
}

.comment-tittle {
        margin-bottom: 50px;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: left;
        border-radius: 7px;
}

.comment-tittle img {
    width: 60px;
    height: 38px;
}

.comment-box {
    width: 90%; 
    padding: 20px;
    border: solid 1px var(--gris-2);
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.comment-box .avatar {
    margin-right: 20px;
}

.comment-box .comment-opinion {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.stars-and-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment-opinion input{
    border: solid 1px var(--gris-2);
    border-radius: 5px;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

.stars-and-button .stars img{
    width: 20px;
}

.stars-and-button .btn-comment {
    width: 150px;
    height: 30px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.40) inset;
    background-color: var(--acento);
    border-radius: 10px;
    color: var(--blanco, #FAF3FE);
    text-align: center;
    border: none;
    font-size: small;
}

.comment-amount{
    margin-left: 50%;
    margin-bottom: 50px;
    transform: translate(-50%);
    width: 301px;
    height: 88px;
    background-color: var(--Gris-2, #CAC1CD);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.comment-amount img {
    height: 30px;
    margin-left: 10px;
}
.comment img {
    height: 30px;
}

.comment{
    padding-top: 15px;
}

.comment p.body{
    padding-top: 10px;

}

.comment-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.avatar {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-right: 10px;
    background-color: #a7ef2b;
}

.avatar.orange {
    background-color: orange;
    position: relative;
}

.avatar.orange::after {
    content: "E";
    position: absolute;
    top: 14px;
    left: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.avatar.purple {
    background-color: var(--Primario, #8B27B5);
}


.avatar img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.comment p.body-bold span {
    color: var(--Gris-1, #6E5C75);
}

.comment p.body {
    margin-bottom: 10px;
}

.comment a {
    color: var(--Primario-S2);
}

.admin {
    margin-top: 5px;
    margin-left: 60px;
}

.overflow-wrap {
    white-space: pre-wrap;       /* Permite saltos de línea */
    overflow-wrap: break-word;   /* Dividir palabras que no caben */
    max-width: 100%;            /* Establece el ancho máximo del contenedor */
  }

  .appstores {
    margin-left: 80px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .appstores img {
    margin: 20px;
  }

   
}