@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oswald&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:wght@100&display=swap');

/* =============Reseteo=============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    text-decoration: none;
}
/* =============Variables=============*/
*:root{
    --font: 'Poppins', sans-serif;
    --acento-l1: #f69b1280;
    --gris-1: #6e5c75;
    --gris-2: #cac1cd;
    --gris-3: #e4e4e5;
    --gris-4: #f6f5f7;
    --primario: #8b27b5;
    --primario-l1: #dbbce8;
    --primario-l2: #eedff4;
    --primario-l3: #f3e9f8;
    --primario-s1: #6f1f91;
    --primario-s2: #681d88;
    --primario-s3: #53176d;
    --secundario: #a7ef2b;
    --secundario-l1: #e4fabd;
    --secundario-l2: #f2fddf;
    --secundario-l3: #f6fdea;
    --secundario-s1: #96d727;
    --secundario-s2: #7db320;
    --secundario-s3: #4b6c13;
    --acento: #F69B12;
    --blanco: #FAF3FE;
    --error-color: #d33636;
    --exito-color: #66b527;
    --negro: #2B043B;  
    --warning-color: #E8E020;
}

/* =============Clases Generales=============*/
/*las propiedades comunes las puse asi y lo especifico abajo en cada clase -chequear- esta bien?*/
h1, h2, h3, h4, .tx-small, .body-bold, .body1, .body2, .tx-btn {
    font-family: var(--font);
    font-style: normal;
    line-height: normal;
    font-weight: 300;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3{
    font-size: 15px;
}
h4{
    font-size: 11px;/*tenia 11px en figma era 22 ver??*/
    font-weight: 600;
}
.body-bold {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.body1 {
    font-size: 14px;
    line-height: 24px;
}
.body2 {
    font-size: 12px;
    line-height: 24px;
}
.tx-small{
    font-size: 10px;
}
.tx-btn {
    font-size: 10px;
    letter-spacing: 1.8px;
}

/* ============= Buttons =============*/

.btn-main {
    width: 350px;
    height: 45px;
    border-radius: 10px;
    color: var(--blanco);
}
.btn-main-active {
    background-color: var(--primario);
}
.btn-main-inactive {
    background-color: var(--primario-l2 );
}
.btn-main:hover{
    background-color: var(--primario-s1);
}

.btn-third {
    color: var(--acento);
    text-decoration: underline;
}
.btn-third:hover {
    color: var(--acento);
    text-decoration: underline;
    letter-spacing: 1px;
}
.btn-big {
    width: 150px;
    height: 30px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.40) inset;
    background-color: var(--acento);
    border-radius: 10px;
    color: var(--blanco, #FAF3FE);
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-big:hover {
    background-color: var(--primario);
}
.btn-carrousel, .btn-carrousel-active {
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background-color: var(--blanco);
    border: none;
    margin-left: 2px;
    margin-right: 2px;
}

.btn-carrousel-active {
    background-color: var(--secundario);
}

/* =============Páginas Login y Registro=============*/

#login {
    background-image: url('../img/Home/fondoForm.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#login header {
    display: flex;
    justify-self: center;
    align-items: center;
}
#login .logo {
    width: 180px;
    height:auto;
    margin:0 auto;
}

.containerSesion {
    /* background-color: var(--primario-s2); */
    background-color: rgba(43, 4, 59, 0.60);
    color: var(--blanco);
    width: 500px;
    border-radius: 10px;
    flex-shrink: 0;
    text-align: center;
    margin: auto; /*posiciono el contendor en el centro*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin-top: 30px;
    margin-bottom:70px;
}

.titulo h3 {
    color:var(--blanco);
}

.formField {
    text-align: left;
    margin-bottom: 30px;
}

.inputContainer{
    position: relative;
    display: inline-block;
}

.inputContainer svg {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta la posición horizontal del icono */
    transform: translateY(-50%);
}
input {
    width: 350px;
    height: 40px;
    border-radius: 10px;
}
label {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
label span {
    color: red;
}

.recuerdame {
    width: 350px;
    display: flex;
    display: left;
    justify-content: left;
}

.recuerdame svg {
    margin-right: 10px;
}

.btn-white {
    background-color: var(--blanco);
    width: 60px;
    height: 45px;
    border-radius: 10px;

}

.containerSesion .btn-main {
    margin-top: 40px;
}

.linea {
    border: 1px;
    background-color: var(--negro);
    width: 95px;
    height: 1px;
}

.formFieldRow {
    width: 350px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formFieldRegistrate, .formFieldLogueate {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formFieldLogueate {
    width: 300px;
}

.btn-redes-registro {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.btn-redes-registro .btn-white {
    width: 350px;
    margin-bottom: 15px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.robot{
    margin-top: 35px;
    background-color: var(--blanco);
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.robot input {
    width: 15px;
}

.robot p {
    margin-left: 10px;
    size: smaller;
    color: black;  
}

.robot .check {
    width: 70%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logoRegButton {
    width: 35%;
    align-items: left;
}

.TextRegButton{
    width: 65%;
    text-align: center;
    margin-right: 40px;
}


/* =============Body-Home=============*/
body{
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    margin-top: 50px;   
}

button{
    cursor: pointer;
}

.carrousel{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* =============Header Home Mobile ==============*/
#header-home{
    width: 100%;
    height: 70px; /*cambio 100*/
    background-color: var(--primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

.header-left{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

}

.logo-header{
    width: 70px; 
    height: 70px;
    
}
.menu-burger figure{
    height: 70px;
}

.menu-burger img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.container-header{
    display: flex;
    align-items: center;
    gap: 40px;
}
.container-search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container-search img{
    position: absolute;
    left: 20px;
    top: 15px
}
.input-search{
    display: none;
    width: 217px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid var(--primario);
    background: var(--primario-l2);
}
.input-search::placeholder{
    padding-left: -30px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;

}
.input-search:focus{
    outline: none;
    padding-left: 50px;
    
}
.input-search:focus::placeholder{
    opacity: 0;
}

.container-search {
    display: none;
}
.container-btn-header{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.btn-buy{
    background-image: url("../img/carrito.svg");
    background-repeat: no-repeat;
    background-size: contain; 
    width: 25px;  
    height: 25px;
    border: none;
    background-color: var(--primario);
}

.btn-user-login{
    background-image: url("../img/usus.jpg");
    background-size: cover;
    border: none;
    border-radius: 50px;
    width: 35px; 
    height: 35px;
    position: relative;
   
}
/*para hacer circulo verde de conexion*/
.btn-user-login::after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--exito-color);
    position: absolute;
    right: 0;
    top: 2px;
   
}


/*======sidebar categorias y usuario========*/
.menu-user{
    width: 200px;
    height: auto;
    background-color: var(--primario);
    padding-bottom: 20px;
    position: fixed;
    top: 69px;
    right: 0;
    z-index: 300;
    padding: 0;
    display: none;
}

.menu-user .name-user {
    color: var(--blanco);
    text-align: center;
    padding-bottom: 20px;
}

.menu-side{
    width: 60px;
    height: 90vh;
    background-color: var(--primario);
    position: fixed;
    top: 60px;
    left: 0;
    color: var(--blanco);
    z-index: 300;
    overflow-y: scroll;
    transition: all 20ms ease;
}

.side-options {
    padding: 20px 10px;
}

.side-options a{
    color: var(--blanco);
    cursor: pointer;
    display: block;
    transition: all 300ms;
}

.side-options .option {
    height: 50px;
    margin: 10px 0;
    padding: 20px 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.side-options .option img {
    z-index: 2;
    height: 20px;
    width: 20px;
    margin-right: 21px;
    cursor: pointer;
}

.side-options .option p{
    cursor: pointer;
}

.option:hover{
    background-color: var(--primario-s3);
}

.side-options .option-search{
    background-color: var(--primario-l2);
}

.option-search input{
    z-index: 1;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primario-l2);
}

.side-options .option-search input {
    height: 40px;
}
.menu-side-move{
    width: 200px;
    transition: all 300ms;
}

.close {
    display: none;
}

/* .menu-side-hidden{
    width: 80px;
    left: -80px;
    transition: all 300ms;
} */
/*================carrito de compras===========*/

.container-cart{
    display: none;
    width: 270px;
    height: 85vh;
    padding-bottom: 20px;
    background-color: var(--blanco);
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 300;
    overflow-y: scroll;
}

.cart-title{
    background-color: var(--primario-s3);
    color: var(--blanco);
    padding: 10px;
    text-align: center;
}
.cart-body{
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px;
}
.cart-body p.tx-small, .cart-body p.body2 {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.cart-item{
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-item h4{
    font-size: 16px;
}
.cart-item-img{
    background-image: url("../img/Home/stumble.png");
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-size: cover;
}
.item-img-2{
    background-image: url("../img/Home/FallGuys.webp");
}

.cart-discount p{
    margin-bottom: 5px;
}

.cart-buy img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.cart-buys div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.cart-container-buys-discount{
    margin: 10px 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-container-prices-btns{
    margin: 10px 0;
    height: 40%;
}
.cart-discount .btn-main-inactive, .cart-btns .btn-main-inactive, .cart-btns .btn-main-active{
    background-color: var(--blanco);
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--primario-s1);
    height: 30px;
    color: var(--primario);
    font-size: 1;
}
.cart-btns button{
    margin: 5px 0;
    align-items: center;
  
}
.cart-btns .btn-main-active{
    background-color: var(--primario);
    color: var(--blanco);
}
.cart-btns {
    margin: 10px 0;

}
/*========configuracion scroll vertical=========*/

/* ver ocultar scroll para chrome, safari y opera */
.menu-side::-webkit-scrollbar, .container-cart::-webkit-scrollbar{
    display: none;
}
/* ocultar scroll para IE edge firefox */
.menu-side, .container-cart{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* =============Principal Carrousel MObile ==============*/
#ppal-carrousel {
    width: 100%; /*cambie 700px x 100%*/
    height: 50vh;
    position: relative;
}

#ppal-carrousel ul.slider {
    position: relative;
    /* max-width: 800px; */
    width: 100%;
    height: 100%;
}

#ppal-carrousel ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity .5s;
}

#ppal-carrousel ul.slider li img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
}

#ppal-carrousel ul.slider li:first-child {
    opacity: 1;
}


/*Mostramos la img del enlace que pulsemos*/
#ppal-carrousel ul.slider li:target {
    opacity: 1;
}

.menu {
    text-align: center;
    position: absolute;
    bottom:0px;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.menu li {
    display: inline-block;
    text-align: center;

}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: var(--blanco);
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

#ppal-carrousel .menu li a.active {
    background-color: var(--secundario);
}


/* ******************** */
.rect-blured {
    width: 100%;
    height: 25vh;
    background: linear-gradient(180deg, rgba(250, 243, 254, 0.00) 0%, #000 100%);
    position: absolute;
    bottom: 0%;
    z-index: 1;
}

#ppal-carrousel .btn-big {
    z-index: 2;
    position: absolute;
    bottom:30px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
}
/*=========botonera de categorias=========*/
.container-button-box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin:10px;
    /* margin-left: 70px;
    margin-right: 10px; */
    gap: 5px;
    padding: 5px;
    overflow-x: scroll;
}

.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid var(--primario);
    background: var(--primario-l2);
    color: var(--primario);
    font-size: 12px;
}

/* =============Card ==============*/
.carrousel{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 20px;
}
/*card comun sin tag*/
.card {
    width: 190px;
    height: 240px;
    background-color: var(--blanco);
    margin: 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

/*card con tag por default es gratis ver nombre de la clase tag tal vez es muy largo*/
.card.tag::after{
    align-items: center;
    justify-content: center;
    content: "";
    text-align: center;
    color: var(--blanco);
    font-size: 10px;
    letter-spacing: 1.5px;
    width: 75px;
    height: 20px;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    background-color: var(--exito-color);
    position: absolute;
    left: -6.1px;
    top: 20px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.50);
    display: none;
}

.card.tag::before {
    content: "";
    width: 12.6px;
    height: 12px;
    clip-path: polygon(0 0, 50% 0, 50% 100%);
    background-color: var(--exito-color);
    position: absolute;
    left: -6.1px; /*ver xq para q quede bien use estas medidad pero son raras con coma*/
    top: 39.8px;
    display: none;
}
/*card con tag gratis*/
.gratis.tag::after, .gratis.tag::before, .off.tag::after, .off.tag::before,
.exclusive.tag::after, .exclusive.tag::before, .nuevo.tag::after, .nuevo.tag::before {
    display: flex;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
}
.gratis.tag::after {
    content: "GRATIS";
    background-color: var(--exito-color);
}
.gratis.tag::before {
    background-color: var(--exito-color);
}
/*card con tag 20 %off como hacemos si queremos 30 o 40 off? hacemos otra clase?*/
.off.tag::after {
    content: "20 %OFF";
    background-color: var(--error-color);
}
.off.tag::before {
    background-color: var(--error-color);
}
/*card con tag exclusivo*/
.exclusive.tag::after {
    content: "EXCLUSIVO";
    background-color: var(--primario);
}
.exclusive.tag::before {
    background-color: var(--primario);
}
/*card con tag nuevo*/
.nuevo.tag::after {
    content: "NUEVO";
    background-color: var(--acento);
}
.nuevo.tag::before {
    background-color: var(--acento);
}
.card-img {
    width: 190px;
    height: 120px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.card figure{
    height: 120px;
}

.card-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5px 10px;
    
}
.card-body h4{
    font-size: 18px;
    font-weight: 600;
}
.card-body p.tx-small{
    font-weight: 400;
    color: var(--gris-1);
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/*prop para truncar el texto*/
.card-title {
    width: 130px;
    font-size: 15px;
    color: var(--color-black);
    margin-left: 2px;
    white-space: nowrap; /*elimina saltos de linea*/
    overflow: hidden; /*elimina el texto q se sale del contenedor*/
    text-overflow: ellipsis; /*agrega puntos suspensivos*/
}

.card-price{
    color: var(--acento);
    text-align: right;
}
.card-description{
    width: 170px;
    height: 40px;
    margin: 5px 0;
    color: var(--gris-1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden; 
}

.card-btns{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 5px;
    margin-left: 10px;
}

.card-btn-play {
    width: 80px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid var(--blanco);
    background: var(--primario);
    color: var(--blanco);
    font-weight: 400;
}

.card-btn-play:hover{
    background-color: var(--primario-s3);
    transition: 0.5s ease;
}

.card-btn-buy {
    background-image: url("../img/carrito.svg");
    background-repeat: no-repeat;
    border: none;
    background-size: 20px 20px;
    background-position: center center;
    background-color: var(--acento);
    width: 40px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid var(--acento);
}

.open {
    display: block;
}
/*=============================*/

/* =============Footer=============*/

@media screen and (min-width: 400px) {
    h1, h2, h3, h4, .tx-small, .body-bold, .body1, .body2, .tx-btn {
        font-weight: 400;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 40px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 22px;
        font-weight: 700;
    }
    .body-bold {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }
    .body1 {
        font-size: 16px;
        line-height: 24px;
    }
    .body2 {
        font-size: 14px;
        line-height: 24px;
    }
    .tx-small{
        font-size: 12px;
    }
    .tx-btn {
        font-size: 12px;
        letter-spacing: 1.8px;
    }

/* ============= Buttons =============*/

    .btn-main {
        width: 350px;
        height: 45px;
        border-radius: 10px;
        color: var(--blanco);
    }
    .btn-main-active {
        background-color: var(--primario);
    }
    .btn-main-inactive {
        background-color: var(--primario-l2 );
    }
    .btn-main:hover{
        background-color: var(--primario-s1);
    }
    
    .btn-third {
        color: var(--acento);
        text-decoration: underline;
    }
    .btn-third:hover {
        color: var(--acento);
        text-decoration: underline;
        letter-spacing: 1px;
    }
    .btn-big {
        width: 387px;
        height: 60px;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.40) inset;
        background-color: var(--acento);
        border-radius: 10px;
        color: var(--blanco, #FAF3FE);
        text-align: center;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .btn-big:hover {
        background-color: var(--primario);
    }
    .btn-carrousel, .btn-carrousel-active {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: var(--blanco);
        border: none;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .btn-carrousel-active {
        background-color: var(--secundario);
    }
    
    #header-home{
        height: 100px; 
    }

    .logo-header{
        width: 120px; 
        height: 110px;  
    }
   
    .input-search{
        display: block;
    }
   
    .container-btn-header{
        margin-right: 50px; 
        gap: 40px;
    }
    .btn-buy{
        width: 35px;   
        height: 35px; 
    }

    .btn-user-login{
        width: 50px; 
        height: 50px;
    }
/*===============sidebar==========*/
.menu-side{
    top: 90px;
}

.menu-side-move{
    width: 230px;
    left: 0;
    transition: all 300ms;
}

.menu-user{
    padding-top: 10px;
    width: 250px;
    top: 95px;
}

#menu-side-input-search{
    display: none;
}
.container-search {
    display: block;
}
/*============carrito de compras===============*/
.container-cart{
    width: 330px;
    top: 100px;
    
}
.cart-item h4{
    font-size: 18px;
}
.cart-discount .btn-main-inactive, .cart-btns .btn-main-inactive, .cart-btns .btn-main-active{
    height: 40px;
    font-size: 16px;
}


.cart-item p{
    font-size: 16px;
}

.cart-item h4{
    font-size: 18px;
}

.cart-item-img{
    width: 35px;
    height: 35px;
}
.cart-title{
    height: 13%;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* =============Principal Carrousel  ==============*/
#ppal-carrousel {
    width: 100%;
    height: 570px;
    position: relative;
    margin-top: 100px;
}

.rect-blured {
    width: 100%;
    height: 271px;
    background: linear-gradient(180deg, rgba(250, 243, 254, 0.00) 0%, #000 100%);
    position: absolute;
    bottom: 0%;
}

#ppal-carrousel .btn-big {
    position: absolute;
    bottom:30px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
}

.menu {
    bottom:7px;
}
/*===========botonera de categorias========*/
.container-button-box{
    margin: 20px 10px 10px 70px;

}

/*==============carrousel===================*/

.carrousel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 20px;
}

/*==========cards===================*/

.card {
    width: 272px;
    height: 310px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.card.tag::after{
    font-size: 12px;
    letter-spacing: 1.8px;
    width: 90px;
    height: 25px;
}

.card.tag::before {
    top: 44.8px;
}

.card figure {
    height: 165px;
}

.card-img {
    width: 272px;
    height: 165px;
}

.card-header{
    margin: 5px;
}

.card-body{
    margin-left: 18px;
    margin-left: 8px;
}

.card-title{
    width: 162px;
     margin-top: 5px;
}

.card-description{
    width: 228px;
    height: 40px;
    padding-right: 5px; 
    margin: 0px 5px 10px 5px;
}

.card-btns{
    width: 228px;
}

.card-btn-buy {
    width: 40px;
    height: 25px;
    margin-right: 10px;
}

.card-btn-play {
    width: 100px;
}

/*============== footer ===================*/
.payment {
    width: 100%;
    height: 80px;
    padding-left: 80px;
    background-color: var(--Primario-S1, #6F1F91);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.payment img {
    width: 100px;
    height: 50px;
}

.foot-info {
    width: 100%;
    height: 300px;
    background-color: var(--Primario, #8B27B5);
    padding-left: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    /* padding-left: 80px; */
}

.footer-col {
    /* width: 33.3%; */
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 20px;
    padding-left: 100px;
}


.title {
    text-align: left;

}
.title h3 {
   padding-top: 50px;
   padding-bottom: 50px;
   text-align: left;
}


.footer-col .link p{
    color: var(--Primario-L2);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-align: left;
    display: flex;
}
.copyright {
    padding-left: 80px;
    background-color: var(--Primario, #8b27b5);
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-img{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.instagram::before {
    content: url('../img/icons/bco_instagram.svg'); 
    margin-right: 10px; 
    height: 16px;
}

.facebook::before {
    content: url('../img/icons/bco-facebook.svg'); 
    margin-right: 10px; 
    height: 16px;
}

.twitter::before {
    content: url('../img/icons/bco_twitter.svg'); 
    margin-right: 10px; 
    height: 16px;
}
  
  
}


