*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    text-decoration: none;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}
/* =============Variables=============*/
*:root{
    --font: 'Lato';
    --yellow: #FFE901;
    --black-btn: #02187E; /*negro azulado del boton letra y sombra*/
    --light-blue: #2982FF;/*header y btnn*/
    --light-blue-two: #2981FF; /*lo usa para el menu hamb*/
    --white: #FFF;
    --black: #000;
    --grey: rgba(0, 0, 0, 0.39);/*placeholder input*/
    --dark-grey: #5E5E5D;
    --purple: #8F6AA6;
    --background-header: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    --background-section-8: linear-gradient(180deg, #F7E3D8 21.2%, #8FBEFC 81.48%);
}
/*================Clases generales=============*/

h1, h2, h3 .body, .tx-btn {
    font: var(--font);
    color: var(--black);
    font-style: normal;
    line-height: 94.5%; /* 56.7px */
}

/*hay blanco y negro*/
h1{
    font-size: 60px;
    font-weight: 600;
}

h2{
    font-size: 60px;
    color: var(--white);
    font-weight: 400;
    line-height: normal;
}

h3{
    font-size: 40px;
    font-weight: 400;
}
/*hay blanco y negro*/
.body{
    font-size: 20px;
    font-weight: 400;
}

/*input*/
.body-input{
    color: var(--grey);
    letter-spacing: 2.2px;

}

.tx-btn{
    color: var(--black-btn);
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2.2px;
}

/*========Botones===========*/

.btn{
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section1 {
    display: flex;
    justify-content: center;
}

.section1 img {
    width: 1280px;
    height: 720px;
}

.section2 {                  /*clipart*/
    background-color: var(--purple);
    width: 100%;
    height: 844.5px;
}

.section3 {                 /*clipart*/
    background-color: var(--white);
    width: 100%;
    height: 1085px;
}

.section5 {
    position: relative;
    height: 528px;
    display: flex;
    justify-content: center;
}

.section5 img {
    position: absolute;
    top:500px;
}

.section5 .girl {
    left:0px;
    width: 451.258px;
    height: 591.442px;
    transform: rotate(-12.483deg);
    flex-shrink: 0;
}

.section5 .hulk {
    right:0px;
}

.section5 .grass {
    position: relative;
}

.section6 {
    height: 2195px;
    background-color: var(--white);
}

.sectionComprar {
    height: 248px;
}

.section7 {
    height: 1296px;
    background-color: var(--white);
}

.section8 {
    height: 1296px;
    background-color: yellow;
}

footer {
    height: 678px;
    background-color: var(--dark-grey);
}